<h1 class="text-center mt-4">Cashier Cockpit</h1>

<div class="container mt-4 mb-4">
  <!-- pizzas availables for loop -->
  <!-- d-flex flex-wrap justify-content-between mt-4 -->
  <div class="row">
    <div class="col-8">
      <div class="d-flex flex-column bg-white rounded-3 pt-4 shadow p-3 mb-5">
        <div class="d-flex flex-wrap justify-content-evenly">
          <div *ngFor="let pizza of pizzas">
            <app-pizza [pizza]="pizza"></app-pizza>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-blue">
            Créer une commande
          </button>
        </div>
      </div>
    </div>
    <div class="col-4 rounded-3 shadow p-3 mb-5 bg-white">
      <app-cart class="mt-4"></app-cart>
    </div>
  </div>
</div>
