<h1 class="text-center mt-4">Cashier Cockpit</h1>

<div class="container mt-4 mb-4">
  <!-- pizzas availables for loop -->
  <!-- d-flex flex-wrap justify-content-between mt-4 -->
  <div class="row">
    <form [formGroup]="pizzaForm" class="col-12">
      <div class="d-flex flex-column bg-white rounded-3 pt-4 shadow p-3 mb-5">
        <div class="d-flex flex-wrap justify-content-evenly">
          <div class="card mb-4 border-0 shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/pizza.png"
              class="card-img-top img-thumbnail border-0 rounded-0"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Margherita CHF 12.-</h5>
              <p class="card-text">
                Ingredients : Tomate, mozzarella, origan, paprika, sel
              </p>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  formControlName="margherita"
                  placeholder="Choose number"
                  aria-label="Choose number"
                  aria-describedby="button-addon2"
                  minlength="1"
                  maxlength="10"
                />
              </div>
            </div>
          </div>

          <div class="card mb-4 border-0 shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/pizza.png"
              class="card-img-top img-thumbnail border-0 rounded-0"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Napolina CHF 15.-</h5>
              <p class="card-text">
                Ingredients: Tomate, mozzarella, câpre, anchois, olive, origan
              </p>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  formControlName="napolina"
                  placeholder="Choose number"
                  aria-label="Choose number"
                  aria-describedby="button-addon2"
                />
              </div>
            </div>
          </div>

          <div class="card mb-4 border-0 shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/pizza.png"
              class="card-img-top img-thumbnail border-0 rounded-0"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Peperoni CHF 17.-</h5>
              <p class="card-text">
                Ingredients: Tomate, mozzarella, poivrons, olives noires, origan
              </p>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  formControlName="peperoni"
                  placeholder="Choose number"
                  aria-label="Choose number"
                  aria-describedby="button-addon2"
                />
              </div>
            </div>
          </div>

          <div class="card mb-4 border-0 shadow-sm" style="width: 18rem">
            <img
              src="../../../../assets/pizza.png"
              class="card-img-top img-thumbnail border-0 rounded-0"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Diavola CHF 20.-</h5>
              <p class="card-text">
                Ingredients: Tomate, mozzarella, chorizo, poivrons, ail, origan
              </p>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  formControlName="diavola"
                  placeholder="Choose number"
                  aria-label="Choose number"
                  aria-describedby="button-addon2"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="d-flex flex-column name-container align-items-center mb-3"
        >
          <label>Nom du client</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            formControlName="name"
            placeholder="John Doe"
          />
        </div>

        <div
          class="d-flex flex-column phone-number-container align-items-center mb-3"
        >
          <label>N° de téléphone du client</label>
          <input
            type="tel"
            id="phone"
            class="form-control"
            name="phone"
            formControlName="phone"
            placeholder="012 345 67 89"
            pattern="^(?:0|\(?\+41\)?\s?|0041\s?)(21|22|24|26|27|31|32|33|34|41|43|44|51|52|55|56|58|61|62|71|74|76|77|78|79|81|91)(?:[\.\-\s]?\d\d\d)(?:[\.\-\s]?\d\d){2}$"
          />
        </div>

        <div class="d-flex justify-content-center mb-5 mt-5">
          <button
            type="button"
            class="btn btn-create-command"
            [disabled]="pizzaForm.invalid"
            (click)="createCommand()"
          >
            Créer une commande
          </button>
        </div>
      </div>
    </form>
    <h1 class="text-dark">{{ orderData }}</h1>
  </div>
</div>
