<div class="cart p-5">
  <div class="d-flex align-items-center">
    <h2 style="margin-right: 10px">Your cart</h2>
  </div>
  <hr style="border-top: 1px solid #bbb" />
  <div class="content">
    <div class="orders d-flex align-items-center justify-content-between">
      <p style="margin-bottom: 0 !important">Pizza Diavola Test</p>
      <div class="d-flex align-items-center justify-content-between">
        <p class="number" style="margin-right: 10px; margin-bottom: 0 !important;">2</p>
        <p class="price" style="margin-right: 10px; margin-bottom: 0 !important;">CHF 25.00</p>
        <span class="badge bg-secondary">x</span>
      </div>
    </div>
  </div>
</div>
