<div class="main-container pb-4">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PizzaMobile</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <app-cashier-view *ngIf="isCashier"></app-cashier-view>
  <app-chef-view *ngIf="isChef"></app-chef-view>
  <app-delivery-view *ngIf="isDelivery"></app-delivery-view>

  <router-outlet></router-outlet>
</div>
