<div class="cart-container flex-row align-items-center">

  <div class="image-container">
  </div>

  <div class="info-buttons-container d-flex flex-row justify-content-between">

    <div class="order-info">
      <h3>Order N°xxxx</h3>
      <div class="d-flex flex-row">
        <p>2X Napolina</p>
        <p>3X Margherita</p>
      </div>
      <p>Pret dans : xx minutes</p>
    </div>

    <div class="action-button-container">
      <button class="btn btn-action-order">
        Ready
      </button>
      <button class="btn btn-action-order">
        Notify the client
      </button>
    </div>

  </div>
</div>
