<div class="cart p-5">
  <div class="d-flex align-items-center">
    <h2 style="margin-right: 10px">Orders</h2>
  </div>
  <hr style="border-top: 1px solid #bbb" />
  <div class="content">
    <div class="orders d-flex align-items-center justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-between">
        <div class="card mb-4 border-0 shadow-sm" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Order N°</h5>
            <p class="card-text"></p>
            <div class="input-group mb-3">
              <button
                class="btn btn-dark"
                type="Add">
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="card mb-4 border-0 shadow-sm" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Order N°</h5>
            <p class="card-text"></p>
            <div class="input-group mb-3">
              <button
                class="btn btn-dark"
                type="Add">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
